<module>
	<rawname>dynroute</rawname>
	<repo>unsupported</repo>
	<name>Dynamic Routes</name>
	<version>15.0.3</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Applications</category>
	<description>
		Routes calls based on dynamically calculated information that can be taken from a mysql database or via odbc with any supported database, from asterisk variables, from a url or an agi script.
 		Parameters to the lookups can combine dtmf input, asterisk variables, or values saved from previously executed dynamic routes on the same call.
	</description>
	<changelog>
		*15.0.3* FREEPBX-22165 
		*15.0.2* FREEPBX-22117 
		*15.0.1* Dynamic Route release
	</changelog>
	<depends>
		<version>14.0.0</version>
		<module>recordings</module>
	</depends>
	<menuitems>
		<dynroute>Dynamic Routes</dynroute>
	</menuitems>
	<popovers>
		<dynroute>
			<display>dynroute</display>
			<action>add</action>
			<view>form</view>
		</dynroute>
 	</popovers>
 	<supported>
 		<version>15.0</version>
 	</supported>
	<location>release/15/dynroute-15.0.0.tgz</location>
	<md5sum>57d8316dc41fcd3153cefd00a5e3bdd5</md5sum>
	<database>
		<table name="dynroute">
			<field name="id" type="integer" primaryKey="true" autoincrement="true"/>
			<field name="name" type="string" length="255"/>
			<field name="description" type="text" length=""/>
			<field name="sourcetype" type="string" length="100" notnull="false"/>
			<field name="enable_substitutions" type="string" length="8" default="CHECKED"/>
			<field name="mysql_host" type="string" length="60" notnull="false"/>
			<field name="mysql_dbname" type="string" length="60" notnull="false"/>
			<field name="mysql_query" type="text" length="" notnull="false"/>
			<field name="mysql_username" type="string" length="30" notnull="false"/>
			<field name="mysql_password" type="string" length="30" notnull="false"/>
			<field name="odbc_func" type="string" length="100" notnull="false"/>
			<field name="odbc_query" type="text" length="" notnull="false"/>
			<field name="url_query" type="text" length="" notnull="false"/>
			<field name="agi_query" type="text" length="" notnull="false"/>
			<field name="agi_var_name_res" type="string" length="255" notnull="false"/>
			<field name="astvar_query" type="text" length="" notnull="false"/>
			<field name="enable_dtmf_input" type="string" length="8" notnull="false"/>
			<field name="max_digits" type="integer" notnull="false"/>
			<field name="timeout" type="integer" notnull="false"/>
			<field name="announcement_id" type="integer" notnull="false"/>
			<field name="chan_var_name" type="string" length="255" notnull="false"/>
			<field name="chan_var_name_res" type="string" length="255" notnull="false"/>
			<field name="validation_regex" type="text" length="" notnull="false"/>
			<field name="max_retries" type="integer" default="0"/>
			<field name="invalid_retry_rec_id" type="integer" notnull="false"/>
			<field name="invalid_rec_id" type="integer" notnull="false"/>
			<field name="invalid_dest" type="string" length="255" notnull="false"/>
			<field name="default_dest" type="string" length="255" notnull="false"/>
		</table>
		<table name="dynroute_dests">
			<field name="dynroute_id" type="integer" primaryKey="true"/>
			<field name="selection" type="string" length="190" default="" primaryKey="true"/>
			<field name="dest" type="string" length="255" notnull="false"/>
		</table>
	</database>
</module>
