<module>
	<rawname>dynroute</rawname>
	<name>Dynamic Routes</name>
	<version>2.8.0.0</version>
	<publisher>FreePBX</publisher>
	<license>GPLv2+</license>
	<type>setup</type>
	<category>Inbound Call Control</category>
	<description>
		Allows to route call based on lookup in sql database and/or user input and to store results in channel variables
	</description>
	<changelog>
		*2.8.0.0* Added ability to get dtmf input (with optional announcement) and storage of input and/or sql result in channel variables for use in further dynamic routes or custom extensions.
		*2.6.0.2* First Release
	</changelog>
	<depends>
		<version></version>
		<module></module>
	</depends>
	<menuitems>
		<dynroute>Dynamic Routes</dynroute>
	</menuitems>
	<location>release/2.8/dynroute-2.8.0.0.tgz</location>
	<md5sum></md5sum>
</module>
